<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uflowertv.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.uflowertv.model.Question" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="wx_user_id" property="wxUserId" jdbcType="VARCHAR" />
    <result column="wx_user_phone" property="wxUserPhone" jdbcType="VARCHAR" />
    <result column="wx_user_question_img" property="wxUserQuestionImg" jdbcType="VARCHAR" />
    <result column="wx_user_question_title" property="wxUserQuestionTitle" jdbcType="VARCHAR" />
    <result column="wx_user_question_type" property="wxUserQuestionType" jdbcType="VARCHAR" />
    <result column="reply_question_img" property="replyQuestionImg" jdbcType="VARCHAR" />
    <result column="reply_question_human" property="replyQuestionHuman" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
    <result column="completeTime" property="completetime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.uflowertv.model.QuestionWithBLOBs" extends="BaseResultMap" >
    <result column="wx_user_question_content" property="wxUserQuestionContent" jdbcType="LONGVARCHAR" />
    <result column="reply_question_content" property="replyQuestionContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, wx_user_id, wx_user_phone, wx_user_question_img, wx_user_question_title, wx_user_question_type, 
    reply_question_img, reply_question_human, createTime, completeTime, status
  </sql>
  <sql id="Blob_Column_List" >
    wx_user_question_content, reply_question_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.uflowertv.model.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uflowertv.model.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_question
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wx_question
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.uflowertv.model.QuestionExample" >
    delete from wx_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uflowertv.model.QuestionWithBLOBs" >
    insert into wx_question (id, wx_user_id, wx_user_phone, 
      wx_user_question_img, wx_user_question_title, 
      wx_user_question_type, reply_question_img, reply_question_human, 
      createTime, completeTime, status, 
      wx_user_question_content, reply_question_content
      )
    values (#{id,jdbcType=VARCHAR}, #{wxUserId,jdbcType=VARCHAR}, #{wxUserPhone,jdbcType=VARCHAR}, 
      #{wxUserQuestionImg,jdbcType=VARCHAR}, #{wxUserQuestionTitle,jdbcType=VARCHAR}, 
      #{wxUserQuestionType,jdbcType=VARCHAR}, #{replyQuestionImg,jdbcType=VARCHAR}, #{replyQuestionHuman,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{completetime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{wxUserQuestionContent,jdbcType=LONGVARCHAR}, #{replyQuestionContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uflowertv.model.QuestionWithBLOBs" >
    insert into wx_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wxUserId != null" >
        wx_user_id,
      </if>
      <if test="wxUserPhone != null" >
        wx_user_phone,
      </if>
      <if test="wxUserQuestionImg != null" >
        wx_user_question_img,
      </if>
      <if test="wxUserQuestionTitle != null" >
        wx_user_question_title,
      </if>
      <if test="wxUserQuestionType != null" >
        wx_user_question_type,
      </if>
      <if test="replyQuestionImg != null" >
        reply_question_img,
      </if>
      <if test="replyQuestionHuman != null" >
        reply_question_human,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="completetime != null" >
        completeTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="wxUserQuestionContent != null" >
        wx_user_question_content,
      </if>
      <if test="replyQuestionContent != null" >
        reply_question_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="wxUserId != null" >
        #{wxUserId,jdbcType=VARCHAR},
      </if>
      <if test="wxUserPhone != null" >
        #{wxUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="wxUserQuestionImg != null" >
        #{wxUserQuestionImg,jdbcType=VARCHAR},
      </if>
      <if test="wxUserQuestionTitle != null" >
        #{wxUserQuestionTitle,jdbcType=VARCHAR},
      </if>
      <if test="wxUserQuestionType != null" >
        #{wxUserQuestionType,jdbcType=VARCHAR},
      </if>
      <if test="replyQuestionImg != null" >
        #{replyQuestionImg,jdbcType=VARCHAR},
      </if>
      <if test="replyQuestionHuman != null" >
        #{replyQuestionHuman,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="completetime != null" >
        #{completetime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="wxUserQuestionContent != null" >
        #{wxUserQuestionContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="replyQuestionContent != null" >
        #{replyQuestionContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uflowertv.model.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from wx_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wx_question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUserId != null" >
        wx_user_id = #{record.wxUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUserPhone != null" >
        wx_user_phone = #{record.wxUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUserQuestionImg != null" >
        wx_user_question_img = #{record.wxUserQuestionImg,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUserQuestionTitle != null" >
        wx_user_question_title = #{record.wxUserQuestionTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUserQuestionType != null" >
        wx_user_question_type = #{record.wxUserQuestionType,jdbcType=VARCHAR},
      </if>
      <if test="record.replyQuestionImg != null" >
        reply_question_img = #{record.replyQuestionImg,jdbcType=VARCHAR},
      </if>
      <if test="record.replyQuestionHuman != null" >
        reply_question_human = #{record.replyQuestionHuman,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.completetime != null" >
        completeTime = #{record.completetime,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.wxUserQuestionContent != null" >
        wx_user_question_content = #{record.wxUserQuestionContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.replyQuestionContent != null" >
        reply_question_content = #{record.replyQuestionContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update wx_question
    set id = #{record.id,jdbcType=VARCHAR},
      wx_user_id = #{record.wxUserId,jdbcType=VARCHAR},
      wx_user_phone = #{record.wxUserPhone,jdbcType=VARCHAR},
      wx_user_question_img = #{record.wxUserQuestionImg,jdbcType=VARCHAR},
      wx_user_question_title = #{record.wxUserQuestionTitle,jdbcType=VARCHAR},
      wx_user_question_type = #{record.wxUserQuestionType,jdbcType=VARCHAR},
      reply_question_img = #{record.replyQuestionImg,jdbcType=VARCHAR},
      reply_question_human = #{record.replyQuestionHuman,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      completeTime = #{record.completetime,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      wx_user_question_content = #{record.wxUserQuestionContent,jdbcType=LONGVARCHAR},
      reply_question_content = #{record.replyQuestionContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wx_question
    set id = #{record.id,jdbcType=VARCHAR},
      wx_user_id = #{record.wxUserId,jdbcType=VARCHAR},
      wx_user_phone = #{record.wxUserPhone,jdbcType=VARCHAR},
      wx_user_question_img = #{record.wxUserQuestionImg,jdbcType=VARCHAR},
      wx_user_question_title = #{record.wxUserQuestionTitle,jdbcType=VARCHAR},
      wx_user_question_type = #{record.wxUserQuestionType,jdbcType=VARCHAR},
      reply_question_img = #{record.replyQuestionImg,jdbcType=VARCHAR},
      reply_question_human = #{record.replyQuestionHuman,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      completeTime = #{record.completetime,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uflowertv.model.QuestionWithBLOBs" >
    update wx_question
    <set >
      <if test="wxUserId != null" >
        wx_user_id = #{wxUserId,jdbcType=VARCHAR},
      </if>
      <if test="wxUserPhone != null" >
        wx_user_phone = #{wxUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="wxUserQuestionImg != null" >
        wx_user_question_img = #{wxUserQuestionImg,jdbcType=VARCHAR},
      </if>
      <if test="wxUserQuestionTitle != null" >
        wx_user_question_title = #{wxUserQuestionTitle,jdbcType=VARCHAR},
      </if>
      <if test="wxUserQuestionType != null" >
        wx_user_question_type = #{wxUserQuestionType,jdbcType=VARCHAR},
      </if>
      <if test="replyQuestionImg != null" >
        reply_question_img = #{replyQuestionImg,jdbcType=VARCHAR},
      </if>
      <if test="replyQuestionHuman != null" >
        reply_question_human = #{replyQuestionHuman,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="completetime != null" >
        completeTime = #{completetime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="wxUserQuestionContent != null" >
        wx_user_question_content = #{wxUserQuestionContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="replyQuestionContent != null" >
        reply_question_content = #{replyQuestionContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.uflowertv.model.QuestionWithBLOBs" >
    update wx_question
    set wx_user_id = #{wxUserId,jdbcType=VARCHAR},
      wx_user_phone = #{wxUserPhone,jdbcType=VARCHAR},
      wx_user_question_img = #{wxUserQuestionImg,jdbcType=VARCHAR},
      wx_user_question_title = #{wxUserQuestionTitle,jdbcType=VARCHAR},
      wx_user_question_type = #{wxUserQuestionType,jdbcType=VARCHAR},
      reply_question_img = #{replyQuestionImg,jdbcType=VARCHAR},
      reply_question_human = #{replyQuestionHuman,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      completeTime = #{completetime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      wx_user_question_content = #{wxUserQuestionContent,jdbcType=LONGVARCHAR},
      reply_question_content = #{replyQuestionContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uflowertv.model.Question" >
    update wx_question
    set wx_user_id = #{wxUserId,jdbcType=VARCHAR},
      wx_user_phone = #{wxUserPhone,jdbcType=VARCHAR},
      wx_user_question_img = #{wxUserQuestionImg,jdbcType=VARCHAR},
      wx_user_question_title = #{wxUserQuestionTitle,jdbcType=VARCHAR},
      wx_user_question_type = #{wxUserQuestionType,jdbcType=VARCHAR},
      reply_question_img = #{replyQuestionImg,jdbcType=VARCHAR},
      reply_question_human = #{replyQuestionHuman,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      completeTime = #{completetime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
   <!-- ==================================自定义操作语句 ==============================================-->
  <select id="selectByExampleWithBLOBsByPageHelper" resultMap="ResultMapWithBLOBs" parameterType="com.uflowertv.model.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="wxUserQuestionContent != null"> 
		and wx_user_question_content like '%${wxUserQuestionContent}%'
    </if>
	<if test="replyQuestionContent != null">
		and reply_question_content like '%${replyQuestionContent}%' 
	</if>
    <if test="orderByClause != null" >
      order by ${orderByClause} ${orderExample} 
    </if>
  </select>
  
  <select id="countByExampleWithBLOBsByPageHelper" parameterType="com.uflowertv.model.QuestionExample" resultType="java.lang.Integer" >
     select count(*) from wx_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="wxUserQuestionContent != null"> 
		and wx_user_question_content like '%${wxUserQuestionContent}%'
    </if>
	<if test="replyQuestionContent != null">
		and reply_question_content like '%${replyQuestionContent}%' 
	</if>
    <if test="orderByClause != null" >
      order by ${orderByClause} ${orderExample} 
    </if>
  </select>
</mapper>