<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uflowertv.statistics.dao.PlayMapper" >
  <resultMap id="BaseResultMap" type="com.uflowertv.statistics.model.Play" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dt" property="dt" jdbcType="TIMESTAMP" />
    <result column="platformID" property="platformid" jdbcType="INTEGER" />
    <result column="zoneID" property="zoneid" jdbcType="VARCHAR" />
    <result column="deviceID" property="deviceid" jdbcType="VARCHAR" />
    <result column="videoID" property="videoid" jdbcType="INTEGER" />
    <result column="entryID" property="entryid" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, dt, platformID, zoneID, deviceID, videoID, entryID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uflowertv.statistics.model.PlayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from play_2016
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from play_2016
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from play_2016
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.uflowertv.statistics.model.PlayExample" >
    delete from play_2016
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uflowertv.statistics.model.Play" >
    insert into play_2016 (id, dt, platformID, 
      zoneID, deviceID, videoID, 
      entryID)
    values (#{id,jdbcType=INTEGER}, #{dt,jdbcType=TIMESTAMP}, #{platformid,jdbcType=INTEGER}, 
      #{zoneid,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR}, #{videoid,jdbcType=INTEGER}, 
      #{entryid,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.uflowertv.statistics.model.Play" >
    insert into play_2016
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dt != null" >
        dt,
      </if>
      <if test="platformid != null" >
        platformID,
      </if>
      <if test="zoneid != null" >
        zoneID,
      </if>
      <if test="deviceid != null" >
        deviceID,
      </if>
      <if test="videoid != null" >
        videoID,
      </if>
      <if test="entryid != null" >
        entryID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dt != null" >
        #{dt,jdbcType=TIMESTAMP},
      </if>
      <if test="platformid != null" >
        #{platformid,jdbcType=INTEGER},
      </if>
      <if test="zoneid != null" >
        #{zoneid,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="videoid != null" >
        #{videoid,jdbcType=INTEGER},
      </if>
      <if test="entryid != null" >
        #{entryid,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uflowertv.statistics.model.PlayExample" resultType="java.lang.Integer" >
    select count(*) from play_2016
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update play_2016
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dt != null" >
        dt = #{record.dt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.platformid != null" >
        platformID = #{record.platformid,jdbcType=INTEGER},
      </if>
      <if test="record.zoneid != null" >
        zoneID = #{record.zoneid,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceid != null" >
        deviceID = #{record.deviceid,jdbcType=VARCHAR},
      </if>
      <if test="record.videoid != null" >
        videoID = #{record.videoid,jdbcType=INTEGER},
      </if>
      <if test="record.entryid != null" >
        entryID = #{record.entryid,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update play_2016
    set id = #{record.id,jdbcType=INTEGER},
      dt = #{record.dt,jdbcType=TIMESTAMP},
      platformID = #{record.platformid,jdbcType=INTEGER},
      zoneID = #{record.zoneid,jdbcType=VARCHAR},
      deviceID = #{record.deviceid,jdbcType=VARCHAR},
      videoID = #{record.videoid,jdbcType=INTEGER},
      entryID = #{record.entryid,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uflowertv.statistics.model.Play" >
    update play_2016
    <set >
      <if test="dt != null" >
        dt = #{dt,jdbcType=TIMESTAMP},
      </if>
      <if test="platformid != null" >
        platformID = #{platformid,jdbcType=INTEGER},
      </if>
      <if test="zoneid != null" >
        zoneID = #{zoneid,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        deviceID = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="videoid != null" >
        videoID = #{videoid,jdbcType=INTEGER},
      </if>
      <if test="entryid != null" >
        entryID = #{entryid,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uflowertv.statistics.model.Play" >
    update play_2016
    set dt = #{dt,jdbcType=TIMESTAMP},
      platformID = #{platformid,jdbcType=INTEGER},
      zoneID = #{zoneid,jdbcType=VARCHAR},
      deviceID = #{deviceid,jdbcType=VARCHAR},
      videoID = #{videoid,jdbcType=INTEGER},
      entryID = #{entryid,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>