<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!--应用名称-->
	<property name="APP_NAME" value="uflowertv_api"></property>
	<!--日志文件的保存路径,首先查找系统属性-Dlog.dir,如果存在就使用其；否则，在当前目录下创建名为logs目录做日志存放的目录 -->
	<!--jetty 配置-->
	<property name="LOG_HOME" value="${log.dir:-logs}/${APP_NAME}" />
	<!--tomcat 配置-->
	<!--<property name="LOG_HOME" value="${catalina.base}/${APP_NAME}" />-->
	<!-- 日志输出格式 -->
	<property name="ENCODER_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n" />
    <contextName>${APP_Name}</contextName>

	<!-- Output to STDOUT -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${ENCODER_PATTERN}</Pattern>
		</encoder>
	</appender>

	<appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${LOG_HOME}/info.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
	      <level>INFO</level>  
	      <onMatch>ACCEPT</onMatch>  
	      <onMismatch>DENY</onMismatch>  
	    </filter>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/info.%d{yyyy-MM-dd}.log</FileNamePattern>
			 <!-- keep 30 days' worth of history -->  
            <maxHistory>30</maxHistory>  
		</rollingPolicy>
	</appender>
	<!-- 错误日志：用于将错误日志输出到独立文件 -->
	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${LOG_HOME}/error.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
	      <level>ERROR</level>  
	      <onMatch>ACCEPT</onMatch>  
	      <onMismatch>DENY</onMismatch>  
	    </filter>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			 <!-- keep 30 days' worth of history -->  
            <maxHistory>30</maxHistory>  
		</rollingPolicy>
	</appender>
    <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO" />
	<logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="INFO" />
	<logger name="org.hibernate.SQL" level="INFO" />
	<logger name="org.hibernate.engine.QueryParameters" level="INFO" />
	<logger name="org.hibernate.engine.query.HQLQueryPlan" level="INFO" />
    <!-- 日志输出级别 -->
	<!-- 打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和  OFF 默认是DEBUG -->
	<root>
		<level value="DEBUG" />
        <appender-ref ref="STDOUT" />
		<appender-ref ref="info" />
		<appender-ref ref="error" />
	</root>
</configuration>