/*与表情相关的样式*/

.chat-qq-face {
    position: absolute;
    bottom: 100%;
    left: 2%;
    background: #FFF;
    display: none;
}

.csc-sprite {
    background: url('/mobile/img/face3.png');
    background-size: 256px 232px;
    width: 29px;
    height: 29px;
    display: inline-block;
}

.csc-sprite-1 {
    background-position: -12px -10px;
}

.csc-sprite-2 {
    background-position: -42px -10px;
}

.csc-sprite-3 {
    background-position: -71px -10px;
}

.csc-sprite-4 {
    background-position: -100px -10px;
}

.csc-sprite-5 {
    background-position: -128px -10px;
}

.csc-sprite-6 {
    background-position: -158px -10px;
}

.csc-sprite-7 {
    background-position: -186px -10px;
}

.csc-sprite-8 {
    background-position: -216px -10px;
}

.csc-sprite-9 {
    background-position: -12px -39px;
}

.csc-sprite-10 {
    background-position: -42px -39px;
}

.csc-sprite-11 {
    background-position: -71px -39px;
}

.csc-sprite-12 {
    background-position: -100px -39px;
}

.csc-sprite-13 {
    background-position: -128px -39px;
}

.csc-sprite-14 {
    background-position: -158px -39px;
}

.csc-sprite-15 {
    background-position: -186px -39px;
}

.csc-sprite-16 {
    background-position: -216px -39px;
}

.csc-sprite-17 {
    background-position: -12px -68px;
}

.csc-sprite-18 {
    background-position: -42px -68px;
}

.csc-sprite-19 {
    background-position: -71px -68px;
}

.csc-sprite-20 {
    background-position: -100px -68px;
}

.csc-sprite-21 {
    background-position: -128px -68px;
}

.csc-sprite-22 {
    background-position: -158px -68px;
}

.csc-sprite-23 {
    background-position: -186px -68px;
}

.csc-sprite-24 {
    background-position: -216px -68px;
}

.csc-sprite-25 {
    background-position: -12px -97px;
}

.csc-sprite-26 {
    background-position: -42px -97px;
}

.csc-sprite-27 {
    background-position: -71px -97px;
}

.csc-sprite-28 {
    background-position: -100px -97px;
}

.csc-sprite-29 {
    background-position: -128px -97px;
}

.csc-sprite-30 {
    background-position: -158px -97px;
}

.csc-sprite-31 {
    background-position: -186px -97px;
}

.csc-sprite-32 {
    background-position: -216px -97px;
}

.csc-sprite-33 {
    background-position: -12px -130px;
}

.csc-sprite-34 {
    background-position: -42px -130px;
}

.csc-sprite-35 {
    background-position: -71px -130px;
}

.csc-sprite-36 {
    background-position: -100px -130px;
}

.csc-sprite-37 {
    background-position: -128px -130px;
}

.csc-sprite-38 {
    background-position: -158px -130px;
}

.csc-sprite-39 {
    background-position: -186px -130px;
}

.csc-sprite-40 {
    background-position: -216px -130px;
}

.csc-sprite-41 {
    background-position: -12px -163px;
}

.csc-sprite-42 {
    background-position: -42px -163px;
}

.csc-sprite-43 {
    background-position: -71px -163px;
}

.csc-sprite-44 {
    background-position: -100px -163px;
}

.csc-sprite-45 {
    background-position: -128px -163px;
}

.csc-sprite-46 {
    background-position: -158px -163px;
}

.csc-sprite-47 {
    background-position: -186px -163px;
}

.csc-sprite-48 {
    background-position: -216px -163px;
}

.csc-sprite-49 {
    background-position: -12px -196px;
}

.csc-sprite-50 {
    background-position: -42px -196px;
}