
.main-chat-container {
    /*width: 100%;*/
    /*overflow-y: scroll;*/
    /*position: absolute;*/
    /*bottom: 45px;*/
    /*top: 0px;*/

    /*position:relative;*/
    /*padding:0;*/
    /*margin:0;*/
    /*text-align:left;*/
    width:100%;
}

.chat-message-item-time {
    text-align: center;
    color: #707070;
    margin: 16px 0px;
    font-size: 12px;
    font-family: Helvetica, Regular;
}

.chat-message-item-main {
    max-width: 60%;
    position: relative;
}

.chat-message-item-main .chat-message-item-content {
    max-width: 100%;
}

.chat-message-item-content {
    margin: 5px 10px 5px 10px;
    padding: 8px 8px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.chat-message-item-kefu .chat-message-item-content {
    position: relative;
    background-color: #fff !important;
    color: #000;
}

.chat-message-item-user .chat-message-item-face {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 10px;
    background-size: 50px 50px;
}

.chat-message-item-user .chat-message-item-content {
    position: relative;
}

.chat-message-item-kefu .chat-message-item-face {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 10px;
    background-size: 50px 50px;
}

.chat-message-item-user {
    position: relative;
}

.chat-message-item-status {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -18px;
}

.chat-message-item-status img {
    width: 20px;
    height: 20px;
}

.chat-message-item-status div {
    display: none;
}

.message-status-sending .chat-message-item-status-sending {
    display: block;
}

.message-status-sending .chat-message-item-status-error {
    display: none;
}

.message-status-error .chat-message-item-status-sending {
    display: none;
}

.message-status-error .chat-message-item-status-error {
    display: block;
}

.chat-message-item-user .chat-message-item-content:after {
    left: 100%;
    top: 10px;
    position: absolute;
    width: 0;
    height: 0;
    content: '.';
    color: transparent;
    border-top: 9px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid;
}

.chat-message-item-kefu .chat-message-item-content:before {
    right: 100%;
    top: 10px;
    position: absolute;
    width: 0;
    height: 0;
    content: '.';
    color: transparent;
    border-top: 9px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid;
    border-right-color: #fff !important;
}

/**
设置收到图片的展示完整性
**/
img.upload-img {
    width: 100%;
}

.btnEvaluation {
    display: inline-block;
    width: 40%;
    height: 30px;
    margin: 10px 10px 0px 0px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #fe7945;
    background: #ffffff;
    font-size: 14px;
    color: #fe7945;
}

.evaluated {
    background: rgb(0, 119, 255);
}

.image-sendding {
    position: absolute;
    top: 30%;
    left: 34%;
}

.mask {
    display: none;
    z-index: 99999;
    position: absolute;
    left: 23%;
    top: 0;
    width: 54%;
    margin-top: 55px;
    text-align: center;
}

/*定义全屏图片层*/
.full-img-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
    opacity: 1;
    background-color: #191919;
}

.full-img {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    z-index: 101;
    overflow: scroll;
}
/*定义全屏图片层END*/

.robot .robot-hide {
    display: none;
}

.robot .robot-show {
    display: block;
}

.robot-show {
    display: none;
}

/*机器人答案展开关闭*/

.answer-envaluation {
    margin-top: 5px;
    color: cadetblue;
}

.answer-envaluation a {
    color: #000;
    margin-left: 10px;
}

.answer-item {
    margin-bottom: 8px;
}

.answer-content {
    word-break: break-all;
    display: none;
    margin-top: 8px;
}
.answer-content img{
    width: 100%;
    height: auto;
}

.answer-envaluation a.active {
    color: #008000;
}

.confirm-container {
    background-color: #e5e5e5;
    border-radius: 6px;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 35%;
    z-index: 99;
}

.confirm-main {
    border-bottom: 1px solid #C1C1C1;
    text-align: center;
    padding: 0 10px;
}

.confirm-title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
}

.confirm-content {
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 19px;
}

.confirm-bottom {
    text-align: center;
}

.confirm-close-icon{
    position: absolute;
    right: 10px;
    top: 5px;
}


.confirm-left-button {
    border-right: 1px solid #C1C1C1;
    float: left;
    color: #007aff;
    width: 50%;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.confirm-right-button {
    float: left;
    color: #007aff;
    width: 50%;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.background-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    /*left: 0px;*/
    /*top: 0px;*/
    filter: alpha(opacity=60);
    opacity: 0.7;
    background-color: #AAAAAA;
    z-index: 98;
}
/*转接人工确认界面END*/

/*下拉刷新*/
#pullDown {
    /*background:#fff;*/
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    text-align: center;
}
#pullDown .pullDownIcon{
    display:block; float:left;
    width:40px; height:40px;
    /*background:url(pull-icon@2x.png) 0 0 no-repeat;*/
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}


#pullDown.loading .pullDownIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
/*下拉刷新END*/


#wrapper {
    position:absolute;
    top:0; bottom:45px; left:0;
    width:100%;
    /*overflow:auto;*/
    overflow-y: scroll;
}

#scroller {
    position:relative;
    /*	-webkit-touch-callout:none;*/

    float:left;
    width:100%;
    padding:0;
    min-height: 500px;
}

/*订单模板*/
.order-item{
    background: #fff;
    padding: 10px 17px 10px 10px;
    margin: 10px;
    color: #333;
    position: relative;
    display: -webkit-box;
}
.order-item .status{
    position: absolute;
    top: 5px;
    left: -1px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px 0 6px;
    border-radius: 0 11px 11px 0;
    color: #fff;
    background: #61C16E;
    font-size: 11px;
}
.order-item .status.error{
    background: #f9bd48;
}
.order-item .left{
    width: 101px;
}
.order-item .left img{
    border-radius: 3px;
}
.order-item .left .tips{
    margin-top: 10px;
    padding-left: 18px;
    color: #999;
    font-size: 11px;
    background: url(/img/user/app/tips-tuan.png) no-repeat;
    background-size: 12px 12px;
}
.order-item .center{
    box-sizing:border-box;
    -webkit-box-flex: 1;
}
.order-item .center h3{
    font-size: 14px;
    line-height: 27px;
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-item .center .des{
    color: #999;
    font-size: 11px;
}
.order-item .center .des span{
    border-right: 1px solid #999;
    padding-right: 7px;
    margin-right: 7px;
}
.order-item .right-icon{
    width: 8px;
    height: 13px;
    margin-top: 36px;
    background: url(/img/user/app/arrow.png) -12px 0 no-repeat;
    background-size: 20px 13px;
}