.chat-message-item-face.robot-icon {
    background-image: url('/mobile/img/robot-default.png');
}
.chat-message-item-face.kefu-icon {
    background-image: url('/mobile/img/kefu-default.jpg');
}
.chat-message-item-face.cust-icon {
    background-image: url('/mobile/img/cust-default.jpg');
}
.chat-message-item-user .chat-message-item-content {
    background-color: #fe7945 !important;
    color: #000;
}
.chat-message-item-user .chat-message-item-content:after {
    border-left-color: #fe7945 !important;
}
/*.bottom-forward-icon{
    width: 30px;
    height: 30px;
    background: url('/mobile/img/forward_enable.png') no-repeat;
    background-size: 30px 30px;
}*/