<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uflowertv.dao.UserMapper" >
    <sql id="Base_Column_List" >
      id, pwd, uname, email, created, loginTime, validatecode, outdate
    </sql>
    <!-- 登录 -->
   <select id="login" parameterType="com.uflowertv.model.User" resultType="com.uflowertv.model.User">
		select
		<include refid="Base_Column_List" />
		from wx_system_user where 1=1
		<if test=" email != null">
			and email = #{email}
		</if>
		<if test="pwd != null">
			and pwd = #{pwd}
		</if>
   </select>
  <!-- 通过邮件查询 -->
  <select id="findByEmail" resultType="com.uflowertv.model.User">
  	select
	<include refid="Base_Column_List" />
	from wx_system_user where email = #{email}
  </select>
</mapper>